$borderColor: #e3e3e3;
$radius: 6px;
$maxWidth: 600px;
$footerHeight: 38px;
$liMinHeight: 40px;
$liMaxHeight: 6em;
$background: #f6f6f6;
$blue: #1e7fad;

@import 'items.scss';
@import 'notifications.scss';