#todo-list {

	padding: 0;
	margin: 0;

	overflow: hidden;

	&.hide {
		li.checked {
			min-height: 0;
			max-height: 0;
			border-width: 0;

			.remove {
				display: none;
			}
		}
	}



	li {

		display: flex;
		align-items: center;
		position: relative;
		border-bottom: 1px solid $borderColor;
		background: white;
		list-style: none;
		transition: all .5s, max-height .25s, min-height .25s;

		
		position: relative;
		min-height: $liMinHeight;
		max-height: $liMaxHeight;
		transform: translateX(0);
		overflow: hidden;

		label {
			flex: 1 1 auto;
			padding: 10px;
			font-size: 16px;
		}
		
		
		&.checked {
			color: #C9D3E1;
			.todo-text {
				text-decoration: line-through;
			}
			.remove {
				display: block;
			}
		}

		&.trash {
			transition: transform .2s ease-in, max-height .5s .2s;
			transform: translateX(100%);
			min-height: 0;
			max-height: 0;
		}

		&.collapsed {
			min-height: 0;
			max-height: 0;
		}

		.remove { 
			flex: 0 0 auto;
			display: none;
			cursor: pointer;
			padding: 10px 10px 10px 20px ;
			width: 18px; 
			min-height: 18px;
			background: url("../img/x.png") 20px center no-repeat;
		}

	} // li
}






